<div class="transaction-card block max-w bg-white rounded-sm shadow-sm p-8 mb-2">
  <p class="text-rabo-dark-blue font-semibold">{{ transactionsByDay.id | date: 'longDate' }}</p>
  @for (transaction of transactionsByDay.transactions; track $index) {
    <a [routerLink]="['/transactions', transactionsByDay.id, transaction.id]">
      <div class="flex justify-between mt-8">
        <p>{{ transaction.otherParty?.name ? transaction.otherParty?.name : transaction.description }}</p>
         @if (transaction.amount < 0) {
          <p>{{ transaction.amount | currency:'':'€':'0.0-2' }}</p>
         } @else {
          <p>+{{ transaction.amount | currency:'':'€':'0.0-2' }}</p>
         }
      </div>
    </a>
  }
</div>
