<div class="transaction-card block max-w bg-white rounded-sm shadow-sm p-6 mb-2">
  <p class="text-rabo-dark-blue font-semibold pb-5">{{ transactionsByDay.id | date: 'longDate' }}</p>
  @for (transaction of transactionsByDay.transactions; track $index; let last = $last) {
    <a [routerLink]="['/transactions', transactionsByDay.id, transaction.id]">
      <div class="flex justify-between">
        <span>{{ transaction.otherParty?.name ? transaction.otherParty?.name : transaction.description }}</span>
         @if (transaction.amount < 0) {
          <span>{{ transaction.amount | currency:'':'':'0.0-2' }}</span>
         } @else {
          <span>+{{ transaction.amount | currency:'':'':'0.0-2' }}</span>
         }
      </div>
    </a>
    @if (!last) {
      <hr class="h-px bg-gray-200 border-0 my-5">
    }
  }
</div>
