<main class="main">
  <app-header />
  <div class="mx-auto max-w-7xl px-6 lg:px-8 py-12 sm:py-16">
    <div class="mb-5">
      @if ((hasError | async) === false) {
        <div class="account-details">
          <h1 class="text-2xl text-rabo-light-blue italic sm:text-3xl mb-1">Rabo DirectRekening</h1>
          <span class="text-md sm:text-xl">€ 678,18</span>
          <div class="flex gap-8 mt-4 mb-8">
            <div class="flex flex-col basis-auto items-center text-center">
              <button
                class="primary rounded-full p-2 text-white bg-rabo-dark-blue"
              >
                <svg class="w-[28px] h-[28px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2M12 4v12m0-12 4 4m-4-4L8 8"/>
                </svg>
              </button>
              <span class="text-sm mt-2 font-semibold">Overboeken</span>
            </div>
            <div class="flex flex-col basis-auto items-center text-center">
              <button
                class="secondary rounded-full p-2 text-white bg-rabo-orange"
              >
                <svg class="w-[28px] h-[28px] text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 15v2a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-2m-8 1V4m0 12-4-4m4 4 4-4"/>
                </svg>
              </button>
              <span class="text-sm mt-2 font-semibold">Betaalverzoek</span>
            </div>
          </div>
        </div>
      }
    </div>
    <router-outlet />
  </div>
  <app-navigation />
</main>
