<div class="transaction-detail max-w bg-white rounded-sm shadow-sm p-8">
  <div class="text-center mb-8">
    <h2 class="text-md sm:text-xl">{{ transaction?.otherParty ? transaction?.otherParty?.name : transaction?.description }}</h2>
    <span class="text-gray-500 text-xs sm:text-sm mb-2">{{ transaction?.otherParty?.iban }}</span>
    <h3 class="text-xl sm:text-3xl">
      @if (transaction?.amount! < 0) {
      {{ transaction?.amount | currency:'':'€':'0.0-2' }}
      } @else {
        +{{ transaction?.amount | currency:'':'€':'0.0-2' }}
      }
    </h3>
  </div>
  <div class="flex flex-col mb-3">
    <label for="transaction-date" class="text-rabo-dark-blue font-semibold">
      Uitvoering
    </label>
    <span name="transaction-date">{{ transaction?.timestamp | date: 'short' }}</span>
  </div>
  <hr class="h-px bg-gray-200 border-0 my-8">
  @if (transaction?.otherParty) {
    <div class="flex flex-col">
      <label for="other-party-iban" class="text-rabo-dark-blue font-semibold">
        Rekening
      </label>
      <span name="other-party-iban">{{ transaction?.otherParty?.iban }}</span>
    </div>
    <hr class="h-px bg-gray-200 border-0 my-8">
  }
  <div class="flex flex-col">
    <label for="transaction-description" class="text-rabo-dark-blue font-semibold">
      Omschrijving
    </label>
    <span name="transaction-description">{{ transaction?.description }}</span>
  </div>
</div>
